    /* strumenti titolo index */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

/* menu index */
@import url('https://fonts.googleapis.com/css2?family=Scope+One&family=Work+Sans:wght@200&display=swap');



.pag2{
    background-color: rgba(35, 6, 44, 0.942);
}

h6{
    font-size: 22px;
}

h3{
    font-size: 32px;
}

/*navabar*/
.nav-item{
    font-family: 'Work Sans', sans-serif;
    font-size:  22px;
}



/*menu*/
.menu a{
    font-size: 25px;
}

.menu {
    text-align: center;
    background-color: rgba(229, 226, 226, 0.796);
    margin: auto;
}


/* HOVER */

.menu td:hover { 
    background-color: rgba(184, 184, 184, 0.719); 
    transform: scale(1.02);
    transition: transform .1s; 
}


/*table*/
table,td {
    margin: auto;
    border: 2px collapse rgba(156, 24, 24, 0.796) ;
}


/*card */ 
.card-ts p{
    font-size: small ;
    float: left;
}

#card-body-viola {
    background-color: rgba(46, 5, 59, 0.751);
        /* --bs-card-border-width: var(--bs-border-width); */
}





/* stelline */ 
.checked {
    color: rgb(217, 226, 50);
  }


/* card giocatori */
.card-text{
    font-size: 25px;
}

.card-hover:hover{
    transform: scale(1.02);
    transition: transform .2s; 
}

ul{
    list-style: none;
}


/* footer */

footer{
	text-align: left;
	padding:10px 10px;
	line-height: 1.6em;
	font-size: 15px;
	background-color: #000000; /* colore primario */
	color: rgba(166, 166, 166, 0.751);
}


footer .social-cont .social-list {
	list-style-type: none;
	margin: 0 auto;
	padding: 10px 0;
}

footer .social-cont .social-list > li {
	margin: 8px 8px 8px 0px;
	display: inline-block;
	vertical-align: top;
	height: 32px;
	width: 32px;
	border-radius: 6em;
	background-color:#000000; /* colore secondario */
}

footer .social-cont .social-list li img {
	width: 32px
}

footer .social-cont .social-list > li:hover {
background:#bab8b8; 	
}

/* marchi */
.img-thumbnail{
    border: solid rgba(0, 0, 0, 0.362) 1px !important;
}

/*card img */
.card-news{
    height: 35vh; /* o 50vh, dipende da quanto grande lo vuoi */
    object-fit: cover;
    object-position: center;
}

/*carosello*/
.carousel-img {
    height: 80vh; /* o 50vh, dipende da quanto grande lo vuoi */
    object-fit: cover;
    object-position: center;
}

@media (max-width: 800px) {
.carousel-img {
    height: 40vh; /* più piccolo sui telefoni */
}
}

.carousel-caption-custom {
position: absolute;
bottom: 0%;
left: 5%;
color: white;
text-shadow: 2px 2px 5px black;
text-align: center;
z-index: 10;
font-size: 3rem;
}

@media (max-width: 768px) {
.carousel-caption-custom {
    font-size: 1.2rem;
}
}


/*form */

form{
    display: block;
    margin-top: 0em;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

/* top 3*/ 
#primo{
    background-color: gold ;
}

#secondo{
    background-color: silver ;
}

#terzo{
    background-color: chocolate ;
}